
@{
    ViewData["Title"] = "Search Buddy";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="text-center">
    <div class="d-flex justify-content-center">
        <img src="/Assets/Images/hug.png" class="p-1" width="75" />
    </div>
</div>

<div class="text-center overflow-scroll container-fluid p-md-5 h-100">
    <div class="border row container-fluid d-flex justify-content-center p-5 m-2 rounded-6">
        @{
            if(ViewBag.IsAvailable)
            {
                <label class="fw-bold fs-3 text-warp p-3">Searching for a buddy...</label>
                <label class="text-warp p-1">There are currently no active users available for chat, make sure to log in daily to count as Active and we will find you someone.</label>
                <form method="post" class="flex-column row">
                    <input name="available" type="hidden" value="false" />
                    <button class="btn outline-none-focus align-self-center text-white border-0 fw-bold rounded-pill btn-danger" type="submit">Cancel</button>
                </form>
            }
            else
            {
                <label class="fw-bold fs-3 text-warp p-3">Ready to find a buddy?</label>
                <label class="text-warp p-1">We will randomly assign you a buddy that has been active lately and has similar interests, you can talk for 8 hours and become best friends.</label>
                <form method="post" class="flex-column row">
                    <input name="available" type="hidden" value="true" />
                    <button class="btn outline-none-focus align-self-center text-white btn-outline-success border-0 fw-bold rounded-pill background-grass-green" type="submit">Start Searching</button>
                </form>
            }
        }
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/SearchBuddy.js"></script>