@{
    ViewData["Title"] = "About";
}

<div class="hide-scrollbar d-flex flex-column min-vh-100">
    <div class="position-relative">
        <img src="/Assets/Images/loverhands2.jpg"
             class="img-fluid w-100 h-100 shadow object-fit-cover" alt="About Us Background" />

        <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
            <h1 class="text-uppercase fw-bold" style="font-family: 'Segoe UI'; font-size: clamp(2rem, 5vw, 4rem);">
                About DayBuddy
            </h1>
        </div>
    </div>

    <div class="container-fluid bg-light py-5 flex-grow-1">
        <div class="row text-center">
            <div class="col">
                <h2 class="text-uppercase fw-bold text-dark mb-3" style="font-family: 'Segoe UI'; font-size: clamp(2rem, 4vw, 3rem);">
                    Our Mission
                </h2>
                <p class="text-muted" style="font-family: 'Segoe UI'; font-size: clamp(1rem, 3vw, 1.5rem);">
                    At DayBuddy, our mission is to connect people around the world with a simple way to find companionship and meaningful conversation.
                </p>
                <p class="text-muted" style="font-family: 'Segoe UI'; font-size: clamp(1rem, 3vw, 1.5rem);">
                    We believe that everyone deserves a buddy who can brighten their day and make them feel valued.
                </p>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-white py-3 mt-auto">
        <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
            <p class="mb-0">&copy; 2024 - <span class="text-success">DayBuddy</span></p>
            <div class="d-flex flex-row align-items-center">
                <a class="text-success text-decoration-none mx-2" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <a class="text-success text-decoration-none mx-2" asp-area="" asp-controller="Home" asp-action="TermsAndConditions">Terms & Conditions</a>
                <a class="text-success text-decoration-none mx-2" asp-area="" asp-controller="Home" asp-action="FAQ">FAQ</a>
            </div>
        </div>
    </footer>
</div>