@{
    ViewData["Title"] = "Get Started";
    Layout = "~/Views/Shared/_FullScreenLayout.cshtml";
}

<hr />
<div class="container d-flex justify-content-center align-items-center">
    <div class="text-center">
        <label class="display-4">Get Started with</label>
        <div class="row">
            <a class="btn disabled rounded-pill btn-primary fw-bold mb-3 px-4"
                asp-area="" asp-controller="Home" asp-action="GetStarted">
                Facebook
            </a>
            <a class="btn disabled btn-primary rounded-pill fw-bold mb-3 px-4"
                style="background:  linear-gradient(90deg, red 43%, orange 47%, green 52%, blue 60%);
                -webkit-background-clip: text;
                color: transparent;"
                asp-area="" asp-controller="Home" asp-action="GetStarted">
                Google
            </a>

            <a class="btn btn-primary rounded-pill fw-bold mb-3 px-4" style="background:purple"
                asp-area="" asp-controller="Account" asp-action="Register">
                Email
            </a>
        </div>
    </div>
</div>
