@{
    ViewData["Title"] = "Home Page";
}

<div class="hide-scrollbar">
    <!-- Add lazy loading-->
    <div class="position-relative img-fluid" >
        <img src="/Assets/Images/malefriends.jpg"
             class="img-fluid w-100 h-100 object-fit-cover" alt="Background Image" />

        <div style="top: 25%;" class="position-absolute start-50 translate-middle text-white text-center">
            <label style="font-family:'Segoe UI'; font-size: clamp(2rem, 5vw, 8rem);"
                   class="text-uppercase fw-bold text-grass-green">
                Ready to find a buddy?
            </label>
        </div>

        <div style="top: 80%;" class="position-absolute start-50 translate-middle text-white text-center">
            <a class="btn text-white fs-2 border-0 btn-outline-success background-grass-green rounded-pill m-1 fw-bold"
               asp-area="" asp-controller="Home" asp-action="GetStarted">Sign In</a>
        </div>
    </div>
    <div class="background-grass-green container-fluid text-center">
        <div class="d-flex flex-row align-items-center justify-content-center">
            <div class="text-center row container-fluid me-4">
                <label style="font-family:'Segoe UI'; font-size: clamp(2rem, 5vw, 8rem);"
                       class="text-uppercase fw-bold text-dark">Ready to find a buddy?</label>
                <label style="font-family:'Segoe UI'; font-size: clamp(1rem, 4vw, 7rem);"
                       class="text-dark">Ready to find a buddy?</label>
            </div>
            <div class="container rounded-3 position-relative">
                <img src="/Assets/Images/fists.jpg" class="img-fluid m-4 rounded-6" style="object-fit: cover; height: 80%; width: 80%;" />
            </div>
        </div>
    </div>

    <footer class="text-center text-muted py-1">
        <div class="container">
            <label>&copy; 2024 - DayBuddy - </label>
            <a class="p-1 text-grass-green" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <a class="p-1 text-grass-green" asp-area="" asp-controller="Home" asp-action="TermsAndConditions">Terms & Conditions</a>
            <a class="p-1 text-grass-green" asp-area="" asp-controller="Home" asp-action="FAQ">FAQ</a>
        </div>
    </footer>
</div>
