@{
    ViewData["Title"] = "DeleteAccount";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<nav class="text-center">
    <div class="d-flex justify-content-center">
        <h2 class="fw-bold">Delete Account</h2>
    </div>
</nav>

<hr />

<div class="text-center container-fluid p-md-5 h-100">
    <div class="border row container align-content-center h-75 rounded-6 align-self-center">
        <label class="fs-3 text-wrap fw-bold">Do you want to delete your account?</label>
        <label class="fs-4 text-wrap">This acction is permanent and can't be undone, all your data will be deleted</label>
        <button id="DeleteBtn" disabled="true" asp-controller="Account" asp-action="ConfirmDeleteAccount" class="container fw-bold rounded-pill btn outline-none-focus btn-danger">Delete Account</button>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/DeleteAccount.js"></script>