@{
    ViewData["Title"] = "DeleteAccount";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<nav class="text-center">
    <div class="d-flex justify-content-center">
        <h4 class="fw-bold">Delete Account</h4>
    </div>
</nav>

<hr class="m-0 p-0" />

<div class="text-center container-fluid overflow-scroll hide-scrollbar h-100">
    <div class="border row container-fluid d-flex justify-content-center p-5 m-2 rounded-6">
        <label class="fs-3 text-wrap fw-bold">Do you want to delete your account?</label>
        <label class="fs-4 text-wrap">This acction is permanent and can't be undone, all your data will be deleted</label>
        <a id="DeleteBtn" asp-controller="Account" asp-action="ConfirmDeleteAccount" class="disabled container fw-bold rounded-pill btn outline-none-focus btn-danger">Delete Account</a>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/DeleteAccount.js"></script>