@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_FullScreenLayout.cshtml";
}

<hr />

<div class="container d-flex justify-content-center align-items-center">
    <div class="text-center">
        @if (ViewBag.EmailSent != null && ViewBag.EmailSent == true)
        {
            <label class="fs-3 text-wrap fw-bold">You should have recieved an Email if the Email was valid!</label>
            <label class="fs-4 text-wrap">If you didn't recieve one check the spam folder.</label>
        }
        else
        {
            <label class="display-6">Reset Password</label>
            <form asp-action="ForgotPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group m-2">
                    <label class="control-label">Email</label>
                    <input name="email" type="email" class="green-outline-focus form-control" />
                </div>
                <div class="form-group m-2">
                    <button class="btn align-self-center btn-info text-white outline-none-focus border-0 fw-bold rounded-pill background-grass-green" type="submit">Reset Password</button>
                </div>
            </form>
        }
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}