
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_FullScreenLayout.cshtml";
}

<hr />

<div class="container d-flex justify-content-center align-items-center">
    <div class="text-center">
        <label class="display-6">Sign In with Email</label>
        <form method="post" class="flex-column row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="m-2 row">
                <label>Email</label>
                <input name="email" type="email" class="form-contol" />
            </div>
            <div class="m-2 row">
                <label>Password</label>
                <input name="password" type="password" class="form-contol" />
            </div>
            <div class="form-group m-2">
                <button class="btn align-self-center btn-primary fw-bold rounded-pill" style="background:purple" type="submit">Log In</button>
                <a asp-controller="Account" asp-action="Register" class="rounded-pill btn btn-secondary">Create an account</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
