@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_FullScreenLayout.cshtml";
}

<hr />

<div class="container d-flex justify-content-center align-items-center">
    <div class="text-center">
        <label class="display-6">Sign In with Email</label>
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group m-2">
                <label class="control-label">Email</label>
                <input name="email" type="email" class="green-outline-focus form-control" />
            </div>
            <div class="form-group m-2">
                <label class="control-label">Password</label>
                <input name="Password" type="password" class="green-outline-focus form-control" />
            </div>
            <div class="form-group m-2">
                <button class="btn align-self-center btn-primary outline-none-focus border-0 fw-bold rounded-pill btn-special" type="submit">Log In</button>
                <a asp-controller="Account" asp-action="Register" class="rounded-pill btn outline-none-focus btn-secondary">Create an account</a>
            </div>
            <a asp-controller="Account" asp-action="ForgotPassword" class="nav-link text-black-50">Forgot Password?</a>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
