@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_FullScreenLayout.cshtml";
}

<hr class="m-0 p-0" />

<div class="container d-flex justify-content-center align-items-center">
    <div class="text-center">
        <label class="display-6">Reset Password</label>
        <form asp-action="ConfirmResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group m-2">
                <label class="control-label">Password</label>
                <input name="password" type="password" class="green-outline-focus form-control" />
            </div>
            <div class="form-group m-2">
                <label class="control-label">Repeat Password</label>
                <input name="repeatPassword" type="password" class="green-outline-focus form-control" />
            </div>
            <div class="form-group m-2">

                <button class="btn rounded-6 m-1 outline-none-focus border-0 background-grass-green btn-success" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}