
@{
    ViewData["Title"] = "VerifyEmail";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<nav class="text-center">
    <div class="d-flex justify-content-center">
        <h2 class="fw-bold">Verify Email</h2>
    </div>
</nav>
<hr />

<div class="text-center container-fluid p-md-5 h-100">
    <div class="border row container align-content-center h-75 rounded-6 align-self-center">
        @{
            if (ViewBag.EmailSent)
            {
                <label class="fw-bold fs-3 text-warp p-3">We sent you an Email</label>
                <label class="text-warp p-1">Click the link to verify your email adress, if you didn't recieve it check the spam folder</label>
                <label class="background-grass-green rounded-6 text-white text-warp fw-bold p-2">Email Sent! You can request another one in 5 Minutes!</label>
            }
            else
            {
                <label class="fw-bold fs-3 text-warp p-3">We sent you an Email</label>
                <label class="text-warp p-1">Click the link to verify your email adress, if you didn't recieve it check the spam folder</label>
                <a style="background:purple;" class="btn zoom-in-hover green-outline-focus align-self-center text-white fw-bold rounded-pill"
                   asp-action="ReSendVerificationEmail"> Re-Send Email
                </a>
            }
        }
    </div>
</div>