html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.background-grass-green {
    background: #8bc34a
}

.text-grass-green {
    color: #8bc34a
}

label {
    font-family: Georgia
}

.btn-special{
    background: #951dd4;
}
.btn-special:hover {
    background: #821db6;
}

.green-outline-focus:focus {
    border-color: #8bc34a !important;
    outline: none !important;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, 0.25) !important
}

.green-outline-hover:hover {
    border-color: #8bc34a !important;
    outline: none !important;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, 0.25) !important
}

.outline-none-focus:focus {
    outline: none !important;
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0) !important
}

.zoom-in-hover:hover {
    transform: scale(1.02); /* Slight zoom effect */
    transition: transform 0.1s ease-in-out; /* Smooth transition */
}

.hover-dark:hover{
    color:black !important;
}

.hide-scrollbar {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none !important;
}

::-webkit-scrollbar {
    width: 0px !important;
    background: transparent !important;
}

.rounded-6{
    border-radius:25px;
}

.text-grass-green {
    color: #8bc34a !important
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}