html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.background-grass-green {
    background: #8bc34a
}

.text-grass-green {
    color: #8bc34a
}

::-webkit-scrollbar {
    width: 4px; /* Set a small width for the scrollbar */
    height: 4px; /* Set a small height for horizontal scrollbar */
}

/* Styling the scrollbar track */
::-webkit-scrollbar-track {
    background: transparent; /* Remove the track background */
}

/* Styling the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* A subtle color for the thumb */
    border-radius: 10px; /* Rounded edges for the thumb */
}

/* Optional: Add hover effect to thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Darker color when hovered */
}

/* Optional: Remove the scrollbar buttons */
::-webkit-scrollbar-button {
    display: none; /* Hide the scrollbar buttons (up/down, left/right) */
}

.overflow-x-auto {
    overflow-x: auto !important;
    overflow-y: hidden;
}

.overflow-y-auto {
    overflow-y: auto !important;
    overflow-x: hidden;
}

label {
    font-family: Georgia
}

.btn-special{
    background: #951dd4;
}
.btn-special:hover {
    background: #821db6;
}

.green-outline-focus:focus {
    border-color: #8bc34a !important;
    outline: none !important;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, 0.25) !important
}

.green-outline-hover:hover {
    border-color: #8bc34a !important;
    outline: none !important;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, 0.25) !important
}

.outline-none-focus:focus {
    outline: none !important;
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0) !important
}

.zoom-in-hover:hover {
    transform: scale(1.02);
    transition: transform 0.1s ease-in-out;
}

.hover-dark:hover{
    color:black !important;
}

.hide-scrollbar {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

::-webkit-scrollbar {
    width: 0px !important;
    background: transparent !important;
}

.rounded-6{
    border-radius:25px;
}

.text-grass-green {
    color: #8bc34a !important
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}