
@{
    ViewData["Title"] = "Premium";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<nav class="text-center">
    <div class="d-flex justify-content-center">
        <h4 class="fw-bold">Purchase Premium</h4>
    </div>
</nav>

<hr />

@{
    if (ViewBag.IsPremium)
    {
        <div class="text-center overflow-y-auto hide-scrollbar container-fluid p-md-5 h-100">
            <div class="border row container-fluid d-flex justify-content-center p-5 m-2 rounded-6">
                <label class="fw-bold fs-3 text-warp">Thank you for purchasing Premium!</label>
                <label class="p-1 text-warp">This will pay for the host and for adding new features.</label>
                <div>
                    <img src="/Assets/Images/heart.webp" class="p-1" width="65" height="65" />
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="text-center overflow-y-auto hide-scrollbar container-fluid p-md-5 h-100">
            <div class="border row container-fluid d-flex justify-content-center p-5 m-2 rounded-6">
                <label class="fw-bold fs-2 text-warp">Purchase 30 days Premium?</label>
                <label class="fs-4 text-warp">•	Cooldown disabled for your matches.</label>
                <label class="fs-4 text-warp">•	Unrestricted matching.</label>
                <label class="fs-4 text-warp">•	One time purchase.</label>
                <label class="fs-4 text-warp">•	No cooldowns.</label>
                <label class="fs-4 text-warp">•	No ads.</label>
                <label class="p-1 text-warp">DayBuddy is run by just one person, so Premium Accounts really help keep everything up and running smoothly.</label>
                <a class="nav-link btn text-white green-outline-focus fs-2 border-0 rounded-pill m-1 btn-info fw-bold" 
                asp-area="" asp-controller="Payment" asp-action="PurchasePremium">Purchase</a>
                <label class="nav-link text-success text-wrap">Payment secure and encrypted handled by Stripe</label>
            </div>
        </div>
    }
}
