@using System.Security.Claims
@inject DayBuddy.Services.UserService userService;
@inject Microsoft.AspNetCore.Identity.UserManager<DayBuddyUser> userManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DayBuddy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DayBuddy.styles.css" asp-append-version="true" />
</head>
<body class="d-flex vh-100">
    <div class="p-0 m-0">
        <div class="py-4 border-end d-none d-md-flex flex-column">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <img src="/Assets/Images/hug.webp" class="" width="30" />
                    <a class="text-grass-green navbar-brand pb-0"
                       style="font-family: Lapsus Pro; font-size:18px"
                       asp-area="" asp-controller="Home" asp-action="Index">
                        DayBuddy
                    </a>
                </div>
                <hr class="w-75 container" />
                <ul class="nav text-center m-1 flex-column">
                    <a class="btn text-white green-outline-focus border-0 btn-outline-success background-grass-green rounded-pill m-1 fw-bold"
                       asp-area="" asp-controller="DayBuddy" asp-action="SearchBuddy">Find A Buddy!</a>
                    <a class="btn text-white green-outline-focus border-0 rounded-pill m-1 btn-info fw-bold"
                       asp-area="" asp-controller="Payment" asp-action="Premium">Upgrade To Premium</a>
                    @if (User?.IsInRole("Admin") ?? false)
                    {
                        <a class="btn btn-special text-white green-outline-focus border-0 rounded-pill m-1 fw-bold"
                           asp-area="" asp-controller="Admin" asp-action="AdminPannel">Admin</a>
                    }
                    <a class="nav-link fw-bold text-black-50 hover-dark"
                       asp-area="" asp-controller="Account" asp-action="Profile">Edit Profile</a>
                    <a class="nav-link fw-bold text-black-50 disabled hover-dark"
                       asp-area="" asp-controller="Account" asp-action="Profile">Inventory</a>
                    <a class="nav-link fw-bold text-black-50 hover-dark"
                       asp-area="" asp-controller="DayBuddy" asp-action="LeaveFeedback">Feedback</a>
                    <a class="nav-link fw-bold text-black-50 hover-dark"
                       asp-area="" asp-controller="Account" asp-action="LogOut">Log Out</a>
                </ul>
            </div>
        </div>

        <div class="border-end d-flex d-md-none flex-column">
            <div class="m-3 mb-4">
                <a class="text-center navbar-brand"
                   asp-area="" asp-controller="Home" asp-action="Index">
                <img src="/Assets/Images/hug.webp" class="" width="30" />
               </a>
            </div>
            <hr class="w-75 container" />
            <a class="border m-1 zoom-in-hover rounded-circle" 
                asp-area="" asp-controller="DayBuddy" asp-action="SearchBuddy">
                <img src="~/Assets/Images/magnifying-glass.webp" width="25px" height="25px" />
            </a>
            <a class="border m-1 zoom-in-hover rounded-circle"
               asp-area="" asp-controller="Payment" asp-action="Premium">
                <img src="~/Assets/Images/ticket.webp" width="30px" height="30px" />
            </a>
            @if (User?.IsInRole("Admin") ?? false)
            {
                <a class="border m-1 zoom-in-hover rounded-circle"
                   asp-area="" asp-controller="Admin" asp-action="AdminPannel">
                    <img src="~/Assets/Images/organigram.webp" width="30px" height="30px" />
                </a>
            }
            <a class="border m-1 zoom-in-hover rounded-circle"
               asp-area="" asp-controller="Account" asp-action="Profile">
                <img src="~/Assets/Images/cog.webp" width="30px" height="30px" />
            </a>
            <a class="border m-1 zoom-in-hover rounded-circle"
               asp-area="" asp-controller="Account" asp-action="SearchBuddy">
                <img src="~/Assets/Images/knapsack.webp" width="30px" height="30px" />
            </a>
            <a class="border m-1 zoom-in-hover rounded-circle"
               asp-area="" asp-controller="DayBuddy" asp-action="LeaveFeedback">
                <img src="~/Assets/Images/envelope.webp" width="30px" height="30px" />
            </a>
            <a class="border m-1 zoom-in-hover rounded-circle"
               asp-area="" asp-controller="Account" asp-action="LogOut">
                <img src="~/Assets/Images/exit-door.webp" width="30px" height="30px" />
            </a>
        </div>
    </div>

    <div class="container-fluid p-3">
        <main role="main" class="h-100 pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
