@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DayBuddy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DayBuddy.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="p-2">
        <nav class="text-center">
            <div class="d-flex justify-content-center">
                <img src="/Assets/Images/hug.png" class="p-1" width="75" />
                <a class="text-grass-green navbar-brand"
                    style="font-family: Lapsus Pro; font-size:55px"
                    asp-area="" asp-controller="Home" asp-action="Index">
                    DayBuddy
                </a>
            </div>
        </nav>
    </header>

    <div class="container p-5">
        <main role="main" class="pb-3 w-100">
            @RenderBody()
        </main>
    </div>

    <footer class=" text-center text-muted">
        <label>By signing up you agree to the <a class="text-grass-green" asp-area="" asp-action="TermsAndConditions" asp-controller="Home">terms of service</a></label>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
