@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DayBuddy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DayBuddy.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="text-center position-fixed top-0 w-100 p-3" style="z-index: 1000;">
        <div class="d-flex justify-content-center align-items-center">
            <img src="/Assets/Images/hug.png" class="p-1" width="75" />
            <a class="text-grass-green navbar-brand"
               style="font-family: Lapsus Pro; font-size:55px"
               asp-area="" asp-controller="Home" asp-action="Index">
                DayBuddy
            </a>
        </div>
    </div>


    <div class="container d-flex justify-content-center align-items-center vh-100">
        <main role="main" class="pb-3 w-100">
            @RenderBody()
        </main>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
